body{
    margin: 0 auto;
    width: 1440px;
    font-family: "Inter", sans-serif;
    align-content: center;
    box-sizing: border-box;
    /*padding: 0 155px;*/
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 155px;
    justify-content: center;
}

#header{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 1110px;
    height: 75px;
    margin: 0 auto;
}

.header__container{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    gap:50px;

}

#header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
    width: 100%;
}

#header__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}


#nav__list{
    display: flex;
    flex-direction: row;
    gap:55px;
    margin: 0;
    padding: 0;
}

.nav_item{
    list-style: none;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.nav_item a{
    text-decoration: none;
    color: #000000;
}

#header__auth{
    align-content: center;
    gap: 30px;
}

.white-button{
    color: #0070A0;
    background-color: transparent;
    border: none;
    width: 89px;
    height: 36px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.demo-button{
    background-color: #0070A0;
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: 0.2px;
    border: none;
    weight: 99px;
    padding: 6px 20px;
}

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 95px 0px;
}

#hero__text{
    width: 525px;
}

#hero-title{
    width: 485px;
    padding-top: -5.28px;
    font-size: 58px;
    letter-spacing: 0.2px;
    line-height: 63.8px;
    font-family: 'Fraunces';
    margin: 40px 0;
}

#hero-description{
    font-family: 'Inter';
    max-width:351px;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-size: 20px;
    padding-top: 3px;
    text-align: justify;
    margin: 0;
}

#hero-button{
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 20px
}

.button-learn{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 130px;
    gap:10px;
}

#hero__learn-button{
    font-size: 17px;
    horiz-align: center;
    line-height: 27px;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    margin: 0;
    padding: 6px 0;
}

.companies{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    /*margin: 40px auto 160px auto;*/
    /*padding-bottom: 160px;*/
}

.companies__massage{
    font-size: 24px;
    line-height: 37.5px;
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 24px;
}

.message-title{
    margin: 0;
}

.companies__name{
    display: flex;
    gap:61px;
}

.dignity{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 32px;
    width: 1130px;
    margin-bottom: 120px;
    padding-top:160px;
}

.dignity_card{
    width: 355px;
    height: 250px;
    padding: 32px 32px 40px 32px;
    box-sizing: border-box;
}

.dignity__fast{
    background-color: #FAEA73;
}

.dignity__bang{
    background-color: #CCEFF6;
}

.dignity__safe{
    background-color: #F7CEDC;
}

.dignity__title{
    font-family: 'Fraunces', regular;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    color:#1F1F1F;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 11px;
}

.dignity__description{
    font-family: 'Inter', regular;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
    color: #1F1F1F;
}

/**/
.container__functions{
    background-color: #F7F9FA;
    padding: 80px 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__functions-content{
    display: flex;
    flex-direction: column;
}

.container__functions-title{
    font-family: 'Fraunces', regular;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    color:#1F1F1F;
    height: 100px;
    padding: 0 0 34px 0;
}

.text1{
    font-size: 42px;
    padding: 0;
    margin: 0;
}

.text2{
    font-size: 39px;
    padding: 0;
    margin: 0;
}


/*аккардеон*/
.accordion{
    padding: 27px 90px 27px 0;
    width: 485px;
    height: 345px;
    opacity: 1;
}

.accordion-item{
    width: 450px;
    border-top: 0.11px solid #C2CDD8;
    border-bottom: 0.11px solid #C2CDD8;
    padding-bottom: 0.11px;
}

.accordion-header {
    width: 450px;
    padding: 16px 20px 0 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.accordion-header:hover {
    background-color: #e9ecef;
}

.accordion-title{
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Fraunces', regular;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    font-size: 21px;
    gap: 9.6px;
    color:#1F1F1F;
    padding-bottom: 10px;
}

.accordion-content{
    color: #1F1F1F;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: 'Inter', regular;
    padding: 0 0 0 60px;
    margin: 0;
    width: 320px;
}

.accordion-content p{
    margin: 0 0 13px 0;
    justify-content: flex-start;
}

.container__functions-image{
    display: flex;
    align-content: center;
    padding: 94px 0 0 0;
    opacity: 1;

}

/**/
.whats-whirl{
    display: flex;
    flex-direction: row;
    gap: 98px;
    justify-content: space-between;
    height: 218px;
    padding: 120px 155px;
}

.whats__title__block{
    align-content: flex-start;
    width: 300px;
}

.whats__title1{
    font-size: 42px;
    font-family: 'Fraunces', regular;
    line-height: 50px;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
}

.whats__title2{
    font-size: 41px;
    font-family: 'Fraunces', regular;
    line-height: 50px;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
    width: 300px;
}

.whats__items{
    display: flex;
    flex-direction: row;
    gap:32px;
    align-items: flex-end;
    color: #1F1F1F;
}

.whats__item{
    font-family: 'Fraunces', regular;
    font-size: 25px;
    letter-spacing: 0.2px;
    line-height: 31.25px;
    font-weight: 400;
}

.whats__text{
    font-family: 'Inter', regular;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 400;
}