body{
    margin: 0 auto;
    width: 1440px;
    font-family: "Inter", sans-serif;
    align-content: center;
    box-sizing: border-box;
    /*padding: 0 155px;*/
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 155px;
    justify-content: center;
}

#header{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    width: 1110px;
    height: 75px;
    margin: 0 auto;
}

.header__container{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 100%;
    gap:50px;

}

#header__menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 19px 0;
    width: 100%;
}

#header__logo{
    display: flex;
    align-items: center;
    gap: 5px;
}


#nav__list{
    display: flex;
    flex-direction: row;
    gap:55px;
    margin: 0;
    padding: 0;
}

.nav_item{
    list-style: none;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.nav_item a{
    text-decoration: none;
    color: #000000;
}

#header__auth{
    align-content: center;
    gap: 30px;
}

.white-button{
    color: #0070A0;
    background-color: transparent;
    border: none;
    width: auto;
    height: 36px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.demo-button{
    background-color: #0070A0;
    border: none;
    weight: 99px;
    padding: 6px 20px;
    color: #FFFFFF;
    font-size: 17px;
    font-family: 'Inter', regular;
    line-height: 27px;
    letter-spacing: 0.2px;
}

.hero__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 95px 0px;
}

#hero__text{
    width: 525px;
}

#hero-title{
    width: 485px;
    padding-top: -5.28px;
    font-size: 58px;
    letter-spacing: 0.2px;
    line-height: 63.8px;
    font-family: 'Fraunces';
    margin: 40px 0;
}

#hero-description{
    font-family: 'Inter';
    max-width:351px;
    line-height: 30px;
    letter-spacing: 0.2px;
    font-size: 20px;
    padding-top: 3px;
    text-align: justify;
    margin: 0;
}

#hero-button{
    padding-top: 32px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 20px
}

.button-learn{
    display: flex;
    flex-direction: row;
    align-content: center;
    width: 130px;
    gap:10px;
}

#hero__learn-button{
    font-size: 17px;
    horiz-align: center;
    line-height: 27px;
    letter-spacing: 0.2px;
    box-sizing: border-box;
    margin: 0;
    padding: 6px 0;
}

.companies{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    height: 100%;
    /*margin: 40px auto 160px auto;*/
    /*padding-bottom: 160px;*/
}

.companies__massage{
    font-size: 24px;
    line-height: 37.5px;
    letter-spacing: 0.2px;
    font-family: 'Inter', sans-serif;
    padding-bottom: 24px;
}

.message-title{
    margin: 0;
}

.companies__name{
    display: flex;
    gap:61px;
}

.dignity{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    gap: 32px;
    width: 1130px;
    margin-bottom: 120px;
    padding-top:160px;
}

.dignity_card{
    width: 355px;
    height: 250px;
    padding: 32px 32px 40px 32px;
    box-sizing: border-box;
}

.dignity__fast{
    background-color: #FAEA73;
}

.dignity__bang{
    background-color: #CCEFF6;
}

.dignity__safe{
    background-color: #F7CEDC;
}

.dignity__title{
    font-family: 'Fraunces', regular;
    font-size: 25px;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    color:#1F1F1F;
    margin: 0;
    padding-top: 8px;
    padding-bottom: 11px;
}

.dignity__description{
    font-family: 'Inter', regular;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0;
    color: #1F1F1F;
}

/**/
.container__functions{
    background-color: #F7F9FA;
    padding: 80px 155px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container__functions-content{
    display: flex;
    flex-direction: column;
}

.container__functions-title{
    font-family: 'Fraunces', regular;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    color:#1F1F1F;
    height: 100px;
    padding: 0 0 34px 0;
}

.text1{
    font-size: 42px;
    padding: 0;
    margin: 0;
}

.text2{
    font-size: 39px;
    padding: 0;
    margin: 0;
}


/*аккардеон*/
.accordion{
    padding: 27px 90px 27px 0;
    width: 485px;
    height: 345px;
    opacity: 1;
}

.accordion-item{
    width: 450px;
    border-top: 0.11px solid #C2CDD8;
    border-bottom: 0.11px solid #C2CDD8;
    padding-bottom: 0.11px;
}

.accordion-header {
    width: 450px;
    padding: 16px 20px 0 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
}

.accordion-header:hover {
    background-color: #e9ecef;
}

.accordion-title{
    display: flex;
    align-items: center;
    align-content: center;
    font-family: 'Fraunces', regular;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    font-size: 21px;
    gap: 9.6px;
    color:#1F1F1F;
    padding-bottom: 10px;
}

.accordion-content{
    color: #1F1F1F;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    font-family: 'Inter', regular;
    padding: 0 0 0 60px;
    margin: 0;
    width: 320px;
}

.accordion-content p{
    margin: 0 0 13px 0;
    justify-content: flex-start;
}

.container__functions-image{
    display: flex;
    align-content: center;
    padding: 94px 0 0 0;
    opacity: 1;

}

/*Whats-whirl*/
/*Your tasks*/
.whats-whirl{
    display: flex;
    flex-direction: row;
    gap: 98px;
    justify-content: space-between;
    height: 218px;
    padding: 120px 155px;
}

.whats__title__block {
    align-content: flex-start;
    width: 300px;
}

.whats__title1, .task__title, .container-post__title{
    font-size: 42px;
    font-family: 'Fraunces', regular;
    line-height: 50px;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
}

.whats__title2{
    font-size: 41px;
    font-family: 'Fraunces', regular;
    line-height: 50px;
    letter-spacing: 0.2px;
    padding: 0;
    margin: 0;
    width: 300px;
}

.whats__items, .your-tasks-items{
    display: flex;
    flex-direction: row;
    gap:32px;
    align-items: flex-end;
    color: #1F1F1F;
}

.whats__item, .task__item{
    font-family: 'Fraunces', regular;
    font-size: 25px;
    letter-spacing: 0.2px;
    line-height: 31.25px;
    font-weight: 400;
}

.whats__text, .task__text{
    font-family: 'Inter', regular;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 24px;
    font-weight: 400;
}

/*Set-forget section*/
.text-button{
    background-color: transparent;
    width: 176px;
    height: 43px;
    top: 334.13px;
    angle: 0 deg;
    opacity: 1;
}

.set-forget{
    background-color: #0070A0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 80px 155px;
    gap:187px;
    height: 550px;
    box-sizing: border-box;
}

.set-forget-image{
    margin-left:60px;
}

.set-forget-text, .title-text{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-family: 'Inter', regular;
    line-height: 27px;
    letter-spacing: 0.2px;
    color:#FFFFFF;
}

.title-text{
    color: #1F1F1F;
    width: 650px;
}

.text-title{
    font-size: 42px;
    font-family: 'Fraunces', regular;
    line-height: 50.4px;
    letter-spacing: 0.2px;
    width: 403px;
    margin: 0;
    padding-bottom: 19px;
}

.text-content{
    margin: 0;
    padding-bottom: 18px;
}

.text-done{
    list-style-image: url("../images/icon-done.svg");
    padding: 0 26px;
    margin: 0;
}

.done-item{
    padding: 0;
}

.done-item::marker {
    padding: 0;
    margin: 0;
    border: 1.6px;
    height: 21px;
}


/*Your tasks*/
.your-tasks{
    display: flex;
    flex-direction: column;
    padding: 120px 155px;
}

.your-tasks-items{
    gap:64px;
    padding-top: 98px;
}

.your-tasks-items .item{
    width: 234px;
    position: relative;
    height: 250px;
}

.task__image{
    align-content: flex-start;
}

/*Blog*/
.posts-container{
    padding: 80px 155px;
    display: flex;
    flex-direction: column;
    background-color: #F7F9FA;
}

.container-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
    align-items: center;
}

.posts{
    display: flex;
    flex-direction: row;
    gap: 32px;
    box-sizing: content-box;
}

.post_item{
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    width: 355px;
    height: 487px;
}

.post_info{
    padding: 25px 24px;
}

.post_tag{
    padding: 2px 12px;
    font-family: 'Inter', regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    horiz-align: center;
    color: #2C90C9;
    background-color: #E6F7FF;
    width: fit-content;
    margin: 0;
}

.post_title{
    font-family: Fraunces, regular;
    font-weight: 400;
    font-size: 25px;
    leading-trim: NONE;
    line-height: 31.25px;
    letter-spacing: 0.2px;
    margin: 12px 0;
}

.post_text, .post_date{
    font-family: Inter, regular;
    font-weight: 400;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    color:#1F1F1F;
}

.post_date{
    font-size: 12px;
}


/*Get started*/
.get-started{
    margin: 80px 155px;
    padding: 63px 563px 48px 64px;
    background-color: #E6F7FF;
}

.get-started .text-content{
    font-family: 'Inter', regular;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.2px;
    padding-bottom: 36px;
    color: #1F1F1F;
}

.subscription{
    display: flex;
    flex-direction: row;
    gap:32px;
    color: #626A72;
    padding: 0;
    list-style-position: inside;
}

.subscription-item{
    list-style-image: url("/images/get-started.svg");
    font-family: 'Inter', regular;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.2px;
    margin: 0;
}


.subscription-item::marker{
    padding: 0;
    margin-right: 0;
}



/*Button*/
.whirl-button{
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
    letter-spacing: 0.2px;
    border: none;
}